body{
    overflow-x: hidden;
    background-image: url("grand-entry.jpg") ;
    background-repeat: no-repeat;
    background-size: 120% 100%;
    height:1000px; 
    overflow-y: scroll;
}

.box{
    width:306px;
    height:306px;
    margin-top:20%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: -9%;
}

.inner-box{
    width:100px; height:100px; border: 2px solid red; margin-left: 0; display: inline-block; 
}

.que{
    background-image: url("question-removebg-preview.png");
    background-size: 100px 100px;
}

.rat{
    background-image: url("rat-removebg-preview.png");
   background-size: 100px 100px;
}

#final_score{
    margin-bottom: 2%;
    text-align: center;
    font-size: 200%;
    font-family: "Texturnia","serif";

    color:white; background-color: black; opacity: 0.7; width:50%; margin-left: 25%;margin-bottom:-5%;

}
.score_box_container{
    width: 40%; height: 230px; border: 2px solid transparent; 
}

.score_box{
    background-color: black; opacity: 0.7; width:70%; padding-bottom: 1%; border-radius: 10px; margin-left: 3%; 
    animation: animate 2s linear infinite; margin-top: 3%;
}

@keyframes animate{
    0%, 100%{
        margin-top: 3%;
    }
    50%{
        margin-top: 5%;
    }
}

#chances_left_content{
         color: white;margin-left: 5%;font-size: 110%;
}

#time_left_content{
    color: white;margin-left: 5%;font-size: 110%;
}

.b1{
    font-size: 120%; font-family: "Texturnia","serif"; padding: 1% 2%; margin-right: 2%; border-radius: 10px;

}


.b1:hover {
    font-size: 120%; font-family: "Texturnia","serif"; padding: 1% 2%;  font-weight: bold; opacity: 0.7;

}

.buttons{
    margin-left: 39%;
}

#resume{
    display: none;
}


@media screen and (max-width: 375px){

    .score_box_container{
        width: 120%; height: 230px; border: 2px solid transparent; 
    }
    
    .score_box{
        background-color: black; opacity: 0.7; width:85%; padding-bottom: 1%; border-radius: 10px; margin-left: 3%; 
        animation: animate 2s linear infinite; margin-top: 3%;
    }
    

    .box{
        width:306px;
        height:306px;
        margin-top:50%;
        margin-left: 55%;
        transform: translate(-50%,-50%); margin-bottom: 5%;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-bottom: -9%;
    }

    #final_score{
        margin-top: 0%;
        margin-bottom: 2%;
        text-align: center;
        font-size: 200%;
        font-family: "Texturnia","serif";

        color:white; background-color: black; opacity: 0.7; width:80%; margin-left:5%;margin-bottom:0%;
    
    }
    

    .buttons{
        margin-left: 20%;
    }

    #heading1{
        font-size:150%;
    }
    #heading2{
        font-size:150%;
    }

    #chances_left_content{
        color: white; padding-top: 5%; margin-left: 5%; font-size:130%
    }
  
    #time_left_content{
      color: white; padding-top: 5%; margin-left: 5%; font-size:130%
  }
  


}

@media screen and (min-width: 375px) and (max-width: 600px){

    .score_box_container{
        width: 100%; height: 230px; border: 2px solid transparent; 
    }
    
    .score_box{
        background-color: black; opacity: 0.7; width:85%; padding-bottom: 1%; border-radius: 10px; margin-left: 3%; 
        animation: animate 2s linear infinite; margin-top: 3%;
    }
    

    .box{
        width:306px;
        height:306px;
        margin-top:50%;
        margin-left: 45%;
        transform: translate(-50%,-50%); margin-bottom: 5%;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-bottom: -9%;
    }

    #final_score{
        margin-top: 0%;
        margin-bottom: 2%;
        text-align: center;
        font-size: 200%;
        font-family: "Texturnia","serif";

        color:white; background-color: black; opacity: 0.7; width:70%; margin-left:5%;margin-bottom:0%;
    
    }
    
    .buttons{
        margin-left: 20%;
    }

  #chances_left_content{
      color: white; padding-top: 5%; margin-left: 5%; font-size:140%
  }

  #time_left_content{
    color: white; padding-top: 5%; margin-left: 5%; font-size:140%
  }



}

@media screen and (min-width: 700px) and (max-width: 800px){

    .score_box_container{
        width: 100%; height: 230px; border: 2px solid transparent; 
    }
    
    .score_box{
        background-color: black; opacity: 0.7; width:80%; padding-bottom: 1%; border-radius: 10px; margin-left: 3%; 
        animation: animate 2s linear infinite; margin-top: 3%;
    }
    

    .box{
        width:306px;
        height:306px;
        margin-top:40%;
        margin-left: 45%;
        transform: translate(-50%,-50%); margin-bottom: 5%;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-bottom: -9%;
    }

    #final_score{
        margin-top: 0%;
        margin-bottom: 2%;
        text-align: center;
        font-size: 200%;
        font-family: "Texturnia","serif";
        margin-top: 15%;

        color:white; background-color: black; opacity: 0.7; width:70%; margin-left:5%;margin-bottom:0%;
    
    }
    
    .buttons{
        margin-left: 30%;
    }

    #heading1{
        font-size: 230%;
    }

    #heading2{
        font-size: 230%;
    }

    #chances_left_content{
        color: white; padding-top: 5%; margin-left: 5%; font-size:230%
    }
  
    #time_left_content{
      color: white; padding-top: 5%; margin-left: 5%; font-size:230%
    }


}

@media screen and (min-width: 800px) and (max-width: 1100px){

    .score_box_container{
        width: 100%; height: 230px; border: 2px solid transparent; 
    }
    
    .score_box{
        background-color: black; opacity: 0.7; width:70%; padding-bottom: 1%; border-radius: 10px; margin-left: 3%; 
        animation: animate 2s linear infinite; margin-top: 3%;
    }
    
    .box{
        width:306px;
        height:306px;
        margin-top:30%;
        margin-left: 45%;
        transform: translate(-50%,-50%); margin-bottom: 5%;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-bottom: -9%;
    }

    #final_score{
        margin-top: 0%;
        margin-bottom: 2%;
        text-align: center;
        font-size: 200%;
        font-family: "Texturnia","serif";
        margin-top: 5%;

        color:white; background-color: black; opacity: 0.7; width:70%; margin-left:5%;margin-bottom:0%;
    
    }
    
    .buttons{
        margin-left: 30%;
    }

    #heading1{
        font-size: 230%;
    }

    #heading2{
        font-size: 230%;
    }

    #chances_left_content{
        color: white; padding-top: 5%; margin-left: 5%; font-size:230%
    }
  
    #time_left_content{
      color: white; padding-top: 5%; margin-left: 5%; font-size:230%
    }


}